.content{
  display: flex;
  flex-wrap: wrap;
}

.main{
  flex: 3 60rem;
}

.sideBar{
  flex: 1 20rem;
}

.gridContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-areas: "header" "main" "footer";
}
