@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body, #root {
    margin: 0;
    height: 100vh;
  }
  
  body, input, select, button, textarea {
    font-size: 1.6rem;
    font-family: Merriweather, Arial, Helvetica, sans-serif;
  }
  
  a:hover {
    color: #ff8000;
  }
  a{
    text-decoration: none;
  }
  header {
    display: flex;
    padding: .5rem;
    grid-area: header;
    align-items: center;
    background-color: #203040;
  }
  
  header a {
    color: white;
    text-decoration: none;
  }
  
  main {
    grid-area: main;
  }
  
  footer {
    display: flex;
    color: white;
    grid-area: footer;
    align-items: center;
    justify-content: center;
    background-color: #203040;
  }
  